.vscode
/runSCC/session*
/runVTM/session*
/runVTM/VTM/bin
/runVTM/VTM/lib
/runVTM/VTM/build/cmake*
/runVTM/VTM/build/CMake*
/runVTM/VTM/build/Makefile
/runVTM/VTM/build/source
/runVTM/VTM/windows/.vs
/runVTM/VTM/windows/CMake*git 
/runVTM/VTM/windows/cmake*
/runVTM/VTM/windows/source
/runVTM/VTM/windows/ALL_BUILD*
/runVTM/VTM/windows/Debug
/runVTM/VTM/windows/xkcdc.dir
/runVTM/VTM/windows/x64
/runVTM/VTM/windows/*vcxproj*
/runVTM/VTM/windows/NextSoftware.sln