.vscode
/runVTM/sessionTest/*
/runVTM/VTM/bin
/runVTM/VTM/lib
/runVTM/VTM/build/linux/cmake*
/runVTM/VTM/build/linux/CMake*
/runVTM/VTM/build/linux/Makefile
/runVTM/VTM/build/linux/source
/runVTM/VTM/build/windows/.vs
/runVTM/VTM/build/windows/CMake*git 
/runVTM/VTM/build/windows/cmake*
/runVTM/VTM/build/windows/source
/runVTM/VTM/build/windows/ALL_BUILD*
/runVTM/VTM/build/windows/Debug
/runVTM/VTM/build/windows/xkcdc.dir
/runVTM/VTM/build/windows/x64
/runVTM/VTM/build/windows/*vcxproj*
/runVTM/VTM/build/windows/NextSoftware.sln